## Python Assignment - 1

#### Q1. What are the characteristics of the tuples? Is tuple immutable?


 ##### 1. Tuple is formed with parentheses()

In [1]:
t = (1,2,3)
type(t)

tuple

##### 2. It can store different data type

In [3]:
t1 = (1,23,23.5,4+5j,"tharun")
print(t1)

(1, 23, 23.5, (4+5j), 'tharun')

In [7]:
"""Tuple are basically follows Immutability concepts where it is not going to allow to change any element at a particular index"""

'Tuple are basically follows Immutability concepts where it is not going to allow to change any element at a particular index'

In [4]:
t1[0] = 234

TypeError: 'tuple' object does not support item assignment

#### Q2. What are the two tuple methods in python? Give an example of each method. Give a reason why tuples have only two in-built methods as compared to Lists.

#### There are 2 methods 
 1) Index()
 2) count()

In [14]:
t1.count(23) ### returns no.of times the specified element

1

In [15]:
t1.index("tharun") ### returns first instance of the requested element

4

##### Lists have several built-in methods. A unexpected change or error is more likely to occur in a list. In a tuple, changes and errors don't usually occur because of immutability

#### Q3. Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove duplicates from the  given list.

In [17]:
set = {1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4}
print(set)

{1, 2, 3, 4}

#### Q4. Explain the difference between the union() and update() methods for a set. Give an example of each method.

##### union()  -  Returns a set that contains all items from the original set, and all items from the specified set(s)
##### update() -  method updates the current set, by adding items from another set (or any other iterable).If an item is present in both sets, only one appearance of this item will be present in the updated set

In [20]:
s1 = {1,2,3,4}
s2 = {4,5,6,7}
s3 = s1.union(s2)
print(s3)

{1, 2, 3, 4, 5, 6, 7}

In [25]:
s1.update(s2)
print(s1)

{1, 2, 3, 4, 5, 6, 7}

#### Q5.What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

##### It is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element . 
##### Dictionary is an ordered collection .

In [27]:
d = {"name":"Arun" , "emailid":"arun@gmail.com" , "course" : "Masters DataScience"}
print(d , type(dict))

{'name': 'Arun', 'emailid': 'arun@gmail.com', 'course': 'Masters DataScience'} <class 'dict'>

#### Q6.Can we create a nested dictionary? If so, please give an example by creating a simple one-level nested dictionary.

In [30]:
people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

print(people)

{1: {'name': 'John', 'age': '27', 'sex': 'Male'}, 2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

#### Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning'] dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [32]:
dict1 = {'language':['Python','Machine Learning','Deep Learning'], 'course':'Data Science Masters'}
dict2 = dict1.setdefault('language')
print("Default value" ,dict2)
print(dict1)

Default value ['Python', 'Machine Learning', 'Deep Learning']
{'language': ['Python', 'Machine Learning', 'Deep Learning'], 'course': 'Data Science Masters'}

#### Q8.What are the three view objects in dictionaries?
     Key 
     Value 
     Items

In [36]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
k = dict1.keys()
print(k) ## returns  key

dict_keys(['Sport', 'Teams'])

In [37]:
v = dict1.values()
print(v)

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [38]:
i = dict1.items()
print(i)

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])