### SQL Assignment

#### Q1. What is a database? Differentiate between SQL and NoSQL databases.

##### A database is a systematic collection of data. They support electronic storage and manipulation of data. Databases make data management easy

SQL                                                     

1. SQL databases have a predefined schema.                   
2. SQL databases are table-based databases.                
3. Vertically scalable.

NOSQL 

1. It uses a dynamic schema for unstructured data.
2. It can be document-based , key-value pairs and graph databases
3. Horizontally Scalable

#### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

##### DDL - [Data Definition Language(DDL)] -  To make/perform changes to the physical structure of any table residing inside a database, DDL is used. In SQL DDL commands are used to create and modify the structure of a database and database objects. These commands are CREATE, DROP, ALTER, TRUNCATE

1. CREATE - For creating an database 

Syntax
CREATE DATABASE database_name;

Ex: CREATE DATABASE test_db;

CREATE TABLE table_name(
   column1 datatype,
   column2 datatype,
   .....
   columnN datatype
);

Ex: 

CREATE TABLE my_table(
    first_name varchar(20),
    age INT
);

2. DROP - This command is used to remove an existing table along with its structure from the Database

DROP TABLE table_name; 


3. ALTER  - This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily.

Syntax

ALTER TABLE table_name
ADD column_name datatype;

4. TRUNCATE - This command is used to remove all rows from the table, but the structure of the table still exists.

Syntax

TRUNCATE TABLE table_name;

#### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

##### Data Manipulation Language (DML) allows you to modify the database instance by inserting, modifying, and deleting     its data. It is responsible for performing all types of data modification in a database

1. INSERT  -  Used to insert data into a table

Syntax:
INSERT INTO TABLE_NAME (column name)  
VALUES (values);  

Example:
INSERT INTO students (RollNo, FIrst_Name, Last_Name) VALUES ('60', 'Arun', 'Kumar');

2. UPDATE  - This command is used to update or modify the value of a column in the table

Syntax
UPDATE TABLE_NAME  SET [column_name1= value1] [WHERE CONDITION];

Example:
UPDATE students SET First_Name = 'Ram', Last_Name= 'Prakesh' WHERE StudID = 3;

3. DELETE  - This command is used to remove one or more rows from a table

Syntax 
DELETE FROM table_name [WHERE condition];

Example:
DELETE FROM students 
WHERE FirstName = 'Ram';

#### Q4. What is DQL? Explain SELECT with an example.

##### Data Query Language (DQL) is used to fetch the data from the database. It uses only one command.

SELECT  - Helps you to select the attribute based on the condition described by the WHERE clause.

Syntax: 

SELECT COLUMN NAME FROM TABLES    
WHERE conditions; 

Example:

SELECT FirstName FROM Student WHERE RollNo > 15;

#### Q5. Explain Primary Key and Foreign Key.

###### Primary Key: 

A primary key constrain is a column or group of columns that uniquely identifies every row in the table of the relational database management system. It cannot be a duplicate, meaning the same value should not appear more than once in the table.

###### Foreign Key: 

Foreign key is a column that creates a relationship between two tables. The purpose of the Foreign key is to maintain data integrity and allow navigation between two different instances of an entity.

#### Q6.Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

print(mydb) 

mycursor = mydb.cursor() 

mycursor.execute("SHOW DATABASES") 

for x in mycursor:

  print(x)
  
cursor() - Using the methods of it you can execute SQL statements, fetch data from the result sets, call procedure

execute() - This method accepts a MySQL query as a parameter and executes the given query.

#### Q7. Give the order of execution of SQL clauses in an SQL query.

##### FROM > WHERE > GROUP BY > HAVING > SELECT > ORDER BY > LIMIT